p {
    font-family:italic;
    font-size:x-large;
    font-weight:200px;
    font-style:italic;
    line-height:2;
    color:rgb(48, 186, 48);
}

.title {
    text-align:center;
    background:#eeeeee;
    color:#333333;
}
.intro {
    color:#0066cc;
}